<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Add a Customer
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">
                <form name="userForm" role="form">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label>First name</label>
                            <input type="text" id="fname" name="fname" required ng-model="customer.first_name"
                                   class="form-control">
                            <p ng-show="userForm.fname.$dirty && userForm.fname.$error.required" class="error">First
                                Name is required</p>
                        </div>

                        <div class="col-sm-3">
                            <label>Last name</label>
                            <input type="text" id="lname" name="lname" required ng-model="customer.last_name"
                                   class="form-control">
                            <p ng-show="userForm.lname.$dirty && userForm.lname.$error.required" class="error">Last Name
                                is required</p>
                        </div>

                        <div class="col-sm-3">
                            <label>Email</label>
                            <input type="email" id="email" name="email" required ng-model="customer.email"
                                   class="form-control">
                            <p ng-show="userForm.email.$dirty && userForm.email.$error.required" class="error">Email is
                                required</p>
                            <p ng-show="userForm.email.$dirty && userForm.email.$error.email" class="error">Enter a
                                valid email address</p>
                        </div>

                        <div class="col-sm-3">
                            <label>IP address</label>
                            <input type="text" id="ip" name="ip" required ng-model="customer.ip" class="form-control">
                            <p ng-show="userForm.ip.$dirty && userForm.ip.$error.required" class="error">IP address is
                                required</p>
                        </div>
                    </div>

                    <div class="form-group top-pad">
                        <div class="col-sm-3">
                            <label>Latitude</label>
                            <input type="text" id="latitude" name="latitude" required ng-model="customer.latitude"
                                   class="form-control">
                        </div>

                        <div class="col-sm-3">
                            <label>Longitude</label>
                            <input type="text" id="longitude" name="longitude" required ng-model="customer.longitude"
                                   class="form-control">
                        </div>
                    </div>

                    <br><br>


                </form>
                <button class="btn btn-primary" style="margin-left: 700px;" ng-disabled="userForm.$invalid"
                        type="button" ng-click="add()"> Submit
                </button>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

</div>
