<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>All Customers</h4>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            <div class="row" style="padding: 10px;">
                <div ui-grid="gridOptions" ui-grid-pagination ui-grid-edit ui-grid-row-edit ui-grid-cellNav  class="grid"></div>

                </div>
            </div>
        <div class="my-alert">
            <alert ng-if="show" type="{{alert.type}}" dismiss-on-timeout="115000" close="closeAlert()">{{alert.msg}}</alert>
        </div>
        </div>
    </div>
    <!-- /.panel -->
</div>
