<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Upload customer file</h4>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">
                <form class="form-horizontal" role="form">

                    <div class="col-sm-8">
                        <label for="map" class="col-sm-6 control-label">Select the Data file:</label>
                        <div class="input-group">
								<span class="input-group-btn">
									<span class="btn btn-primary btn-file">
										<input type="file"  id="data" name="data" ngf-select="uploadData($file)" ng-model="dataFile" accept=".csv">Browse </input>
									</span>
								</span>
                            <input type="text" value="{{dataFile.name}}" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-sm-8" ng-show="dataFile" style="padding-top: 5px;">
                        <label for="data" class="col-sm-6 control-label">Select the Map file:</label>
                        <div class="input-group">
								<span class="input-group-btn">
									<span class="btn btn-primary btn-file">
										<input type="file" id="map" name="map" ngf-select="readMapFile($file)" ng-model="mapFile" accept=".csv">Browse </input>
									</span>
								</span>
                            <input type="text" value="{{mapFile.name}}" class="form-control" readonly>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.panel-body -->
        <div class="my-alert">
            <alert ng-if="show" type="{{alert.type}}" dismiss-on-timeout="11500" close="closeAlert()">{{alert.msg}}</alert>
        </div>
    </div>
    <!-- /.panel -->


</div>
